# Common
CI_PROJECT_NAME=$CI_PROJECT_NAME
CI_REGISTRY_IMAGE=$CI_REGISTRY_IMAGE
CI_COMMIT_BRANCH=$CI_COMMIT_BRANCH
CI_COMMIT_SHORT_SHA=$CI_COMMIT_SHORT_SHA
LOGS_MAX_FILE=$LOGS_MAX_FILE
LOGS_MAX_SIZE=$LOGS_MAX_SIZE
DOMAIN=$DOMAIN

# Mem limits
MEM_LIMIT_FRONTEND=$MEM_LIMIT_FRONTEND
